# File mẫu biến môi trường (Template - Có thể chia sẻ hoặc commit lên Git)
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# Tài khoản Thư Viện Pháp Luật
TVPL_USERNAME=your_tvpl_username_here
TVPL_PASSWORD=your_tvpl_password_here
